<div class="container">
  <h2 class="my-4">Risks List</h2>

  <div class="row mb-3">
    <div class="col-md-6">
      <button type="button" class="btn btn-success" (click)="navigateToAddRisk()">Add New Risk</button>
    </div>

    <div class="col-md-3"></div>
    <div class="col-md-3">
      <select class="form-control" [(ngModel)]="selectedAudit" (change)="applyFilters()">
        <option value="">Filter by Audit</option>
        <option *ngFor="let audit of audits" [value]="audit.auditId">{{ audit.auditId }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div *ngIf="loading" class="d-flex justify-content-center mb-3">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden"></span>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped mb-0" *ngIf="!loading">
          <thead class="thead-dark">
            <tr>
              <th>Risk ID</th>
              <th>Area ID</th>
              <th>Observation</th>
              <th>Recommendation</th>
              <th>Priority</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let risk of getPaginatedRisks()">
              <td>{{ risk.riskId }}</td>
              <td>{{ risk.areaId }}</td>
              <td>{{ risk.observation }}</td>
              <td>{{ risk.recommendation }}</td>
              <td>{{ risk.priority }}</td>
              <td class="text-center">
                <button type="button" class="btn btn-primary" (click)="navigateToEditRisk(risk.riskId)">
                  <span *ngIf="!loading">Edit</span>
                  <div class="spinner-border spinner-border-sm ms-1" role="status" *ngIf="loading"></div>
                </button>
                <button type="button" class="btn btn-danger ml-2" (click)="confirmDelete(risk)">
                  <span *ngIf="!loading">Delete</span>
                  <div class="spinner-border spinner-border-sm ms-1" role="status" *ngIf="loading"></div>
                </button>
              </td>
            </tr>
            <tr *ngIf="filteredRisks.length === 0">
              <td colspan="6" class="text-center">No risks found.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Pagination Controls -->
      <nav *ngIf="filteredRisks.length > itemsPerPage">
        <app-pagination
          [totalItems]="filteredRisks.length"
          [itemsPerPage]="itemsPerPage"
          [currentPage]="currentPage"
          (pageChange)="onPageChange($event)">
        </app-pagination>
      </nav>
    </div>
  </div>
</div>

<app-delete-modal (deleteConfirmed)="onDelete()"></app-delete-modal>
