<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Kings Secure Technologies</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Clients</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/properties">Properties</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/audit-companies">Audit Companies</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/audits">Audits</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/fire-doors">Fire Doors</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/risks">Risks</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  