<div class="container">
  <h2 class="my-4">Audits List</h2>

  <div class="row mb-3">
    <div class="col-md-3">
      <select class="form-control" [(ngModel)]="selectedProperty" (change)="applyFilters()">
        <option value="">Filter by Property</option>
        <option *ngFor="let property of properties" [value]="property.propertyId">{{ property.name }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <select class="form-control" [(ngModel)]="selectedAuditCompany" (change)="applyFilters()">
        <option value="">Filter by Audit Company</option>
        <option *ngFor="let auditCompany of auditCompanies" [value]="auditCompany.auditCompanyId">{{ auditCompany.name }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div *ngIf="loadingAudits" class="d-flex justify-content-center mb-3">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden"></span>
        </div>
      </div>
      <table class="table table-bordered table-striped" *ngIf="!loadingAudits">
        <thead class="thead-dark">
          <tr>
            <th>Audit ID</th>
            <th class="col-2">Audit Date</th>
            <th >Audit Company</th>
            <th >Property ID</th>
            <th>Status</th>
            <th >Assessment</th>
            <th class="col-2">Completed Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let audit of getPaginatedAudits()">
            <td>{{ audit.auditId }}</td>
            <td>{{ audit.auditDate | date: 'medium' }}</td>
            <td>{{ audit.auditCompanyId }}</td>
            <td>{{ audit.propertyId }}</td>
            <td>{{ audit.status }}</td>
            <td>{{ audit.assessmentTypeId }}</td>    
            <td>{{ audit.completedDate | date: 'medium' }}</td>
            <td class="text-center">
              <button type="button" class="btn btn-primary" (click)="showFireDoorsModal(audit)">
                <span *ngIf="!loadingFireDoors">FireDoors</span>
                <div class="spinner-border spinner-border-sm ms-1" role="status" *ngIf="loadingFireDoors"></div>
              </button>
              <button type="button" class="btn btn-primary ml-3" (click)="showRisksModal(audit)">
                <span *ngIf="!loadingRisks">Risks</span>
                <div class="spinner-border spinner-border-sm ms-1" role="status" *ngIf="loadingRisks"></div>
              </button>
            </td>
          </tr>
          <tr *ngIf="filteredAudits.length === 0 && !loadingAudits">
            <td colspan="8" class="text-center">No audits found.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <nav *ngIf="filteredAudits.length > itemsPerPage" class="col-12">
      <app-pagination 
        [totalItems]="filteredAudits.length"
        [itemsPerPage]="itemsPerPage"
        [currentPage]="currentPage"
        (pageChange)="onPageChange($event)">
      </app-pagination>
    </nav>
</div>

<!-- Modal Fire Door-->
<div class="modal fade" id="fireDoorModal" tabindex="-1" aria-labelledby="fireDoorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fireDoorModalLabel">Fire Doors for Audit ID: {{ selectedAudit?.auditId }}</h5>
        <button type="button" class="btn-close" (click)="closeFireDoorsModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center" *ngIf="loadingFireDoors">
          <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
        <div *ngIf="!loadingFireDoors">
          <div *ngIf="auditFireDoors.length > 0">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Fire Door ID</th>
                  <th>Area ID</th>
                  <th>Barcode</th>
                  <th>Door Material</th>
                  <th>Frame Material</th>
                  <th>Result</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fireDoor of auditFireDoors">
                  <td>{{ fireDoor.fireDoorId }}</td>
                  <td>{{ fireDoor.areaId }}</td>
                  <td>{{ fireDoor.barcode }}</td>
                  <td>{{ fireDoor.doorMaterial }}</td>
                  <td>{{ fireDoor.frameMaterial }}</td>
                  <td>{{ fireDoor.result }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="auditFireDoors.length === 0">
            No fire doors found for this audit.
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeFireDoorsModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Risks-->
<div class="modal fade" id="risksModal" tabindex="-1" aria-labelledby="risksModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="risksModalLabel">Risks for Audit ID: {{ selectedAudit?.auditId }}</h5>
        <button type="button" class="btn-close" (click)="closeRisksModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center" *ngIf="loadingRisks">
          <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
        <div *ngIf="!loadingRisks">
          <div *ngIf="auditRisks.length > 0">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Risk ID</th>
                  <th>Area ID</th>
                  <th>Observation</th>
                  <th>Recommendation</th>
                  <th>Priority</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let risk of auditRisks">
                  <td>{{ risk.riskId }}</td>
                  <td>{{ risk.areaId }}</td>
                  <td>{{ risk.observation }}</td>
                  <td>{{ risk.recommendation }}</td>
                  <td>{{ risk.priority }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="auditRisks.length === 0">
            No risks found for this audit.
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeRisksModal()">Close</button>
      </div>
    </div>
  </div>
</div>
