<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <a routerLink="/clients" class="btn btn-primary btn-block">
                <div class="card">
                    <h5 class="card-title mb-0">Clients</h5>
                </div>
            </a>
        </div>

        <div class="col-md-4 mb-4">
            <a routerLink="/properties" class="btn btn-primary btn-block">
                <div class="card">
                    <h5 class="card-title mb-0">Properties</h5>
                </div>
            </a>
        </div>

        <div class="col-md-4 mb-4">
            <a routerLink="/audit-companies" class="btn btn-primary btn-block">
                <div class="card">
                    <h5 class="card-title mb-0">Audit Companies</h5>
                </div>
            </a>
        </div>

        <div class="col-md-4 mb-4">
            <a routerLink="/audits" class="btn btn-primary btn-block">
                <div class="card">
                    <h5 class="card-title mb-0">Audits</h5>
                </div>
            </a>
        </div>

        <div class="col-md-4 mb-4">
            <a routerLink="/fire-doors" class="btn btn-primary btn-block">
                <div class="card">
                    <h5 class="card-title mb-0">Fire Doors</h5>
                </div>
            </a>
        </div>

        <div class="col-md-4 mb-4">
            <a routerLink="/risks" class="btn btn-primary btn-block">
                <div class="card">
                    <h5 class="card-title mb-0">Risks</h5>
                </div>
            </a>
        </div>
    </div>
</div>
