<div class="container">
  <h2 class="my-4">Properties List</h2>

  <div class="row mb-3">
    <div class="col-md-3">
      <select
        class="form-control"
        [(ngModel)]="selectedClient"
        (change)="filterPropertiesByClient()"
      >
        <option value="">Filter By Client</option>
        <option *ngFor="let client of clients" [value]="client.clientId">
          {{ client.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div *ngIf="loadingProperties" class="d-flex justify-content-center mb-3">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden"></span>
        </div>
      </div>
      <table class="table table-bordered table-striped" *ngIf="!loadingProperties">
        <thead class="thead-dark">
          <tr>
            <th>Property ID</th>
            <th>Name</th>
            <th>Client ID</th>
            <th>Code</th>
            <th class="col-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let property of getPaginatedProperties()">
            <td>{{ property.propertyId }}</td>
            <td>{{ property.name }}</td>
            <td>{{ property.clientId }}</td>
            <td>{{ property.code }}</td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-primary mx-auto"
                (click)="showAuditModal(property)"
              >
                View Audits
              </button>
            </td>
          </tr>
          <tr *ngIf="filteredProperties.length === 0">
            <td colspan="5" class="text-center">No properties found.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Pagination Controls -->
  <nav *ngIf="filteredProperties.length > itemsPerPage" class="col-12">
    <ul class="pagination justify-content-center flex-wrap">
      <li class="page-item" [class.disabled]="!hasPreviousPage()">
        <button class="page-link" (click)="onPageChange(currentPage - 1)" [disabled]="!hasPreviousPage()">Previous</button>
      </li>
      <li class="page-item" *ngFor="let page of getPageNumbers()" [class.active]="page === currentPage">
        <button class="page-link" (click)="onPageChange(page)">{{ page }}</button>
      </li>
      <li class="page-item" [class.disabled]="!hasNextPage()">
        <button class="page-link" (click)="onPageChange(currentPage + 1)" [disabled]="!hasNextPage()">Next</button>
      </li>
    </ul>
  </nav>
</div>

<!-- Modal -->
<div class="modal fade" id="auditModal" tabindex="-1" aria-labelledby="auditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="auditModalLabel">
          Audits for {{ selectedProperty?.name }}
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeAuditModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="loadingAudits" class="d-flex justify-content-center mb-3">
          <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
        <!-- Display audits here -->
        <div *ngIf="!loadingAudits">
          <div *ngIf="propertyAudits.length > 0">
            <table class="table table-bordered table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Audit ID</th>
                  <th>Audit Date</th>
                  <th>Audit Company ID</th>
                  <th>Property ID</th>
                  <th>Status</th>
                  <th>Assessment Type</th>
                  <th>Completed Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let audit of propertyAudits">
                  <td>{{ audit.auditId }}</td>
                  <td>{{ audit.auditDate  | date: 'medium'}}</td>
                  <td>{{ audit.auditCompanyId }}</td>
                  <td>{{ audit.propertyId }}</td>
                  <td>{{ audit.status }}</td>
                  <td>{{ audit.assessmentTypeId }}</td>
                  <td>{{ audit.completedDate | date: 'medium'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="propertyAudits.length === 0">
            No Audits found.
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeAuditModal()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
