<div class="container">
  <h2 class="my-4">Fire Doors List</h2>
  <div class="row mb-3">
    <div class="col-md-6">
      <button type="button" class="btn btn-success" (click)="navigateToAddFireDoor()">Add New Fire Door</button>
    </div>
    <div class="col-md-3">
      </div>
    
    <div class="col-md-3">
      <select class="form-control" [(ngModel)]="selectedAudit" (change)="applyFilters()">
        <option value="">Filter by Audit</option>
        <option *ngFor="let audit of audits" [value]="audit.auditId">{{ audit.auditId }}</option>
      </select>
    </div>
  </div>

  <!-- Success Alert -->
  <div class="alert alert-success fixed-alerts" role="alert" *ngIf="showSuccessAlert">
    Fire Door Deleted successfully!
    <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert('success')"></button>
  </div>

  <!-- Error Alert -->
  <div class="alert alert-danger fixed-alerts" role="alert" *ngIf="showErrorAlert">
    Error Deleting Fire door. Please Try Again Later.
    <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert('error')"></button>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div *ngIf="loading" class="d-flex justify-content-center mb-3">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden"></span>
        </div>
      </div>
      <table class="table table-bordered table-striped" *ngIf="!loading">
        <thead class="thead-dark">
          <tr>
            <th>Fire Door ID</th>
            <th>Area ID</th>
            <th>Barcode</th>
            <th>Door Material</th>
            <th>Frame Material</th>
            <th>Result</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fireDoor of getPaginatedFireDoors()">
            <td>{{ fireDoor.fireDoorId }}</td>
            <td>{{ fireDoor.areaId }}</td>
            <td>{{ fireDoor.barcode }}</td>
            <td>{{ fireDoor.doorMaterial }}</td>
            <td>{{ fireDoor.frameMaterial }}</td>
            <td>{{ fireDoor.result }}</td>
            <td class="text-center"> 
              <button type="button" class="btn btn-primary" (click)="navigateToEditFireDoor(fireDoor.fireDoorId)">
                <span *ngIf="!loading">Edit</span>
                <div class="spinner-border spinner-border-sm ms-1" role="status" *ngIf="loading"></div>
              </button>
              <button type="button" class="btn btn-danger ml-2" (click)="confirmDelete(fireDoor)">
                <span *ngIf="!loading">Delete</span>
                <div class="spinner-border spinner-border-sm ms-1" role="status" *ngIf="loading"></div>
              </button>
            </td>
          </tr>
          <tr *ngIf="filteredFireDoors.length === 0">
            <td colspan="7" class="text-center">No fire doors found.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Pagination Controls -->
    <nav *ngIf="filteredFireDoors.length > itemsPerPage">
      <app-pagination 
        [totalItems]="filteredFireDoors.length"
        [itemsPerPage]="itemsPerPage"
        [currentPage]="currentPage"
        (pageChange)="onPageChange($event)">
      </app-pagination>
    </nav>
  </div>
</div>

<!-- Confirmation Dialog -->
<app-delete-modal (deleteConfirmed)="onDelete()"></app-delete-modal>
